* {
  font-family: Raleway, sans-serif;
  color: #424242;
}

html {
  background-color: #232323;
}
.main {
  background-color: white;
  margin: 28vh auto auto;
    -moz-box-shadow:0 0 64px 0 rgba(0,0,0,1);
-webkit-box-shadow:0 0 64px 0 rgba(0,0,0,1);
box-shadow:0 0 64px 0 rgba(0,0,0,1);
  overflow: hidden;
}

.footer {
  width: 80%;
  border-top: 1px solid grey;
  margin:30px auto;
  padding: 5px;
}

img {
  margin: auto;
  display: block;
}

h1 {
  font-size: 10vw;
  padding: 30px 0 0 0;
  margin-left: -40px;
}

h4, p {
  text-align: left;
}

h4 {
  font-size: 5vw;
}

p {
  font-size: 2.5vw;
}

input[type=submit], input[type=button] {
  font-size: 2.5vw;
}

input[type=text] {
    width: 66%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    display: block;
    border: 1px solid #080808;
    border-radius: 10px;
    margin: 50px auto 50px auto;
    color: #0808080;
    background-color: white;
  height: 6vw!important;
  font-size: 6vw!important;
    
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus, input[type=text]:focus.valid, input[type=text].valid, input[type=text]:focus:not([readonly]), input[type=text]:disabled,
input[type=text][readonly="readonly"], input[type=text]:disabled+label,
input[type=text][readonly="readonly"]+label, input[type=text]:focus:not([readonly])+label, input[type=text].valid+label:after,
input[type=text]:focus.valid+label:after, input[type=text].invalid,
input[type=text]:focus.invalid, input[type=text].invalid+label:after,
input[type=text]:focus.invalid+label:after, input[type=text]+label:after{
  width: 98%;
  height: ;
  border: 2px solid #080808;
  
     
}

.edges {
  border-radius: 5px;
  width: 95%;
 
  
}

.disamb {
  font-size: 4vw;
  text-align: center;
}

.clear {
  margin: 15px 0 15px 0;
  display: none;
  background-color: white;
}

.btn {
  height: 8vw;
  width:18vw;
}

.parent {
  
}

.vert {
  
}

::-webkit-input-placeholder {
   color: grey;
  font-size: 3.5vw;
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    color: grey;
  font-size: 3.5vw;
  text-align: center; 
}

::-moz-placeholder {  /* Firefox 19+ */
    color: grey;
  font-size: 3.5vw;
  text-align: center;
}

:-ms-input-placeholder {  
    color: grey;
  font-size: 3.5vw;
  text-align: center;  
}

